<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="../../../public/styles/reset.css">
    <link rel="stylesheet" href="../../../public/styles/base.css">
</head>
<body>
    <header>
        <h2 id="DD">Details</h2>
    </header>

<main>
    <section>
        
        <h2 class="H2">Nmae : <%=pet[0].name%></h2>
        <h2 class="H2">Age : <%=pet[0].age%></h2>
        <h2 class="H2">Gender : <%=pet[0].gender%></h2>
        <img id="imgD" src="<%=pet[0].photos[0].medium%>">
        
    </section>
</main>
    
</body>
</html>