<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>

    <header> <h2>   Show Page  </h2>   </header>
<main>
    <section id="my-section-t">
        <img src="<%=data.image_url%>">
        <h3><%=data.name%></h3>
        <h4><%= data.type%></h4>
        <p><%= data.age%></p>
    </section>
</main>
    
</body>
</html>