@import url("https://fonts.googleapis.com/css2?family=Acme&family=Barlow+Condensed:wght@300&family=Marck+Script&family=Oswald&family=Pacifico&display=swap");


#Con{

    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
    grid-gap: 100px;
    padding: 100px 100px;
    /* background-image: url(./41823.jpg); */
    background-image: url(./41759.jpg);
    background-size: cover;
    background-position: center center;
    overflow: hidden;

}

  
.item {
   
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    /* height: 600px; */
    height: 100%;
    padding: 20px;
    align-items: center;
    position: relative;
    /* margin: 5em auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    flex-wrap: wrap;
    text-align:center;
    background-color: white;
    border-radius: 7px;
   
    
    
}
.item img{
    height: 300px;
    border-radius: 7px;
}




.urbest{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: rgb(47, 47, 47);
    position: relative;
    /* top:-0.9em ; */
    text-align: center;
}
.imggif{
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-weight: 700;
    color: rgb(77, 7, 7);
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}
p{
    width: 300px;
}
.center{
    text-align: left;
    word-spacing:5px;
}


header{
    background-color: rgb(68, 68, 68);
    text-align: center;
    
    padding: 50px;
}

.link{
float: right;
padding: 10px;
text-decoration: none;
font-size: large;
border-radius: 25%;

}

a{
    text-decoration: none;
}


#DD{
    font: bold;
    font-size:50px;
    color: rgb(255, 255, 255);
    text-align: center;

}
section{
    justify-content: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.H2{
    display: flex;
    justify-content: center;
    font: bold;
    font-size: 35px;
    color: lightgreen;
    border: solid rgb(212, 99, 99) ; 
    background-color: rgb(248, 89, 83); 
    border-radius: 5%;
    
}
#P2{
    display: flex;
    justify-content: center;
    font: bold;
    font-size: 22px;
    color: rgb(87, 16, 180) ; 
    border: solid red ; 
    background-color: rgb(236, 116, 116); 
    border-radius: 5%;
}

/* #imgD{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10%;
    border: solid red 10px ;
    width: 300px;
    height: 300px;
    background-color: chartreuse;
} */
footer{
    background-color: rgb(71, 70, 70);
    color: honeydew;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: x-large;

}
#hikealong{
  
    background: url(41329.jpg);
    
    background-attachment: fixed;
    padding: 10em 0;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
   
  }
  .myButton{
    box-shadow: 1px 2px 3px -1px black;
    background-color:transparent;
    background-color: #b7bbc705;
    border-radius:28px;
    border: 0;
  display:inline-block;
  cursor:pointer;
    color: #000000;
  font-family:Courier New;
  font-size:19px;
  font-weight:bold;
  padding:14px 34px;
    text-decoration:none;
    transition: all 0.8s ease;
    margin-top: 5%;
    position: relative;
  }
  
  .myButton:hover {
    background-color:transparent;
    background-color: rgb(77, 7, 7);
    color: white;
    transform: scale(1.1);
  }
  .myButton:active {
  position:relative;
  top:1px;
  }
  




  .fadetext{
    opacity: 1;
    animation: fadetext 5s linear none ;
    animation-delay: 1.5s;
  }
  
  @keyframes fadetext{
    0%{
        opacity: 0.3;
    }
  
    5.8%{
        opacity: 0.4;
        padding-left: 3%;
    }
  
    11.5%{
        opacity: .8;
        padding-left: 6%;
    }
  
    17.2%{
        opacity: 0;
        padding-left: 9%;
    }
    100%{
        opacity: 1;
        
    }
  }


  